* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./src/images/background.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Arial';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

#logo {
    color: #4FAB91;
    font-size: 22px;
}

header a {
    text-decoration: none;
    color: #000;
    margin: 16px;
    font-weight: bold;
    font-size: 14px
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-description {
    text-align: center;
    color: #fff;
    margin: 2% 0;
}

#title-description p {
    margin-top: 20px;
}

#container-input-result {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 50vh;
}

.bloc-input-result {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 34%;
}

#bloc-input form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#bloc-input form div {
    display: flex;
    flex-direction: column;
}

.input-date {
    margin-top: 30px;
}

#bloc-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bloc-result img {
    width: 120px;
    margin-bottom: 14%;
}

#description {
    margin-top: 16%;
}

#line {
    width: 90%;
    height: 2px;
    background-color: #4FAB91;
    margin: 0 auto;
}

input {
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

#line-input {
    width: 98%;
    height: 2px;
    background-color: #afafaf;
    margin: 0 auto;
}

button {
    background: #4FAB91;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #499b84;
}

.button-book {
    background: #4FAB91;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
}

.button-book:hover {
    background-color: #499b84;
}

.result {
    text-align: center;
}

#result-trips {
    width: 100%;
    overflow: auto;
}

.container-element-trips {
    background: #F6EEEF;
    margin-bottom: 10px;
    border-radius: 4px;
}

.trip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}